
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Allure Results
/allure-results/

# TypeScript build output
/dist/

# Temporary files
Rough.md
/reports/
/reports/html-report/index.html